# Cache files
*.frag
*.vert

# User files
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.ini

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dirs
.vs/
bin/
bin-int/

Venus/vendor/assimp
Venus/vendor/VulkanSDK

VenusEditor/assets/cache
VenusEditor/assets/models
VenusEditor/assets/prefabs
VenusEditor/assets/fonts
VenusEditor/assets/textures

Sandbox/assets/cache
Sandbox/assets/models
Sandbox/assets/prefabs
Sandbox/assets/fonts
Sandbox/assets/textures