# Cache files
*.frag
*.vert
*.comp
*.geo

# User files
*.sln
*.vcxproj
*.vcxproj.filters
*.csproj
*.user
*.ini
*.aps

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dirs
.vs/
bin/
bin-int/

Venus/vendor/assimp
Venus/vendor/VulkanSDK

VenusEditor/Resources/Cache
VenusEditor/Resources/Scripting
VenusEditor/Assets